# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.StreamingNewsItemDemo.iml
# Datasource local storage ignored files
/../../../../../../:\code\news-streaming-demo\.idea\.idea.StreamingNewsItemDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
